
  :root {
    --bg-color: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
    
  }

  *,
  ::before,
  ::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    background-color: var(--bg-color);
    font-family: figTree;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    
  }

  .card {
    background-color: var(--White);
    border: 0.1rem solid var(--Black);
    border-radius: 1rem;
    max-width:30rem;
    padding: 2rem;
    box-shadow: 7px 7px 0 var(--Black);
    display: grid;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease;
  }

  .card-image img {
    max-width: 100%;
    border-radius: 0.8rem;   
  }
    

  a {
    text-decoration: none;
    color: var(--Black);
    }

   .card-tag {
    
    display: inline-block;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--bg-color);
    padding: 0.4rem 0.8rem;
    font-weight:bolder;
    border-radius: 0.2rem;
   } 

   .card-pub-date {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    color: var(--Black);
   }

   .card-title {
    font-size: 2rem;
    font-family: "figTree";
    font-weight: 800;
   }

   .card-description {
    color: var(--Grey);
    margin-top: 1rem;
    font-size: 1.2rem;
   }

   .card-profile {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

   }

   .card-profile img {
    height: 3rem;
   }

   .card-profile a {
    font-weight: 800;
   }


   /* HOVERING */

   .card:hover {
    box-shadow: 14px 14px 0 var(--Black);
   }

   .card-title:hover {
        color: var(--bg-color);
        cursor: pointer;
   }


































/* FOOTER CODE */

.attribution { 
    font-size: 11px;
    text-align: center;
    margin-top: 3rem;
 }
.attribution a { 
    color: hsl(228, 45%, 44%); }